PROJECT_NAME=mediapulse
LOG_LEVEL=INFO

# Scraper
SCRAPER_REQUEST_TIMEOUT_SECONDS=20
SCRAPER_MAX_ARTICLES_PER_RUN=25

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_RAW_ARTICLES_TOPIC=raw-articles
KAFKA_CONSUMER_GROUP_ID=mediapulse-bronze-writer

# MinIO
MINIO_ROOT_USER=mediapulse_minio
MINIO_ROOT_PASSWORD=change_me_minio_password
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=mediapulse
MINIO_BRONZE_PREFIX=bronze
MINIO_SILVER_PREFIX=silver
MINIO_GOLD_PREFIX=gold
MINIO_SECURE=false

# PostgreSQL
POSTGRES_USER=mediapulse
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=mediapulse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:2.9.3-python3.11
AIRFLOW__CORE__FERNET_KEY=replace_with_a_generated_fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=replace_with_a_generated_webserver_key

# Metabase
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=mediapulse
MB_DB_PASS=change_me_postgres_password
MB_DB_HOST=postgres

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change_me_grafana_password
